# Virtual environment
venv/
surveysys/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

.env

# Streamlit config
.streamlit/

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter notebooks checkpoints (if you use notebooks)
.ipynb_checkpoints/